<div class="p-1" appDirection>
  <div class="breadcrumb flex items-center">
    <span class="text-2xl">{{ 'dashboard.dashboard' | translate }}</span>
    <span class="p-2"> > </span>
    <span class="text-xl">{{ 'dashboard.employees' | translate }}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="rounded" (click)="drawer1.toggle()">
      <mat-icon class="bg-blue-600 text-white">add</mat-icon>
    </button>
  </div>

  <div class="employee-table">
    <mat-form-field>
      <mat-label>{{ 'dashboard.searchEmployees' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <app-employee-list
      [employees]="store.employees()"
      [searchKey]="searchKey()"
      (remove)="remove($event)"
      (edit)="edit($event)"
      appDirection
    />
  </div>
</div>


<mat-drawer #drawer1 mode="over" position="end">
  @defer (when drawer1.opened) {
    <app-employee-form
      (close)="close()"
      [employee]="selectedEmployee()"
      (save)="save($event)"
    />
  }
</mat-drawer>
