<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.table.firstName' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{ element.firstName }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.table.lastName' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{ element.lastName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.table.phone' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{ element.phone }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.table.status' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{ element.status }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.table.action' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ id: element.id }">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{ 'input.value' }}"</td>
  </tr>
</table>

<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="edit.emit(id)">
      <span>{{ 'dashboard.action.edit' | translate }}</span>
    </button>
    <button mat-menu-item (click)="remove.emit(id)">
      <span>{{ 'dashboard.action.delete' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
